## test pydrodelta.simulation module

### 1. set environment and load module

In [5]:
os.environ["PYDRODELTA_DIR"] = "%s/git_clones/pydrodelta" % os.environ["HOME"]
os.chdir("%s/%s" % (os.environ["PYDRODELTA_DIR"],"src"))

In [6]:
import json
import pydrodelta.simulation

#### 2. load configuration

In [7]:
plan_config = json.load(open("../data/plans/gualeguay_rt_dummy.json"))

#### 3. Instantiate plan object

In [8]:
plan = pydrodelta.simulation.Plan(plan_config)

#### 4. run preprocessing (analysis)

In [9]:
plan.topology.batchProcessInput(include_prono=True)

#### 5. load input (boundary conditions) to procedure

In [10]:
procedure = plan.procedures[0] # <- select first procedure
procedure.loadInput()
procedure.input

                               1     2     3       4
timestart
2022-05-20 09:00:00-03:00   0.01   1.3  0.25  30.212
2022-05-21 09:00:00-03:00   0.07  1.27  0.25  30.212
2022-05-22 09:00:00-03:00    0.0  1.25  0.25  30.574
2022-05-23 09:00:00-03:00    0.0  1.22  0.24  30.939
2022-05-24 09:00:00-03:00  13.23   1.2  0.27  30.939
...                          ...   ...   ...     ...
2022-08-21 09:00:00-03:00    0.0  0.98  None    None
2022-08-22 09:00:00-03:00    0.0   1.0  None    None
2022-08-23 09:00:00-03:00    0.0  1.02  None    None
2022-08-24 09:00:00-03:00   5.85  1.05  None    None
2022-08-25 09:00:00-03:00   None  None  None    None

[98 rows x 4 columns]

#### 6. run procedure (dummy)

In [11]:
procedure.run()

El resultado de .run() se guarda en .output (en forma de un dataframe pivoteado). Luego con .outputToNodes() cada serie de output se guarda en el nodo correspondiente (en node.series_sim[0..n].data)

In [12]:
procedure.output

                                4
timestart
2022-05-20 09:00:00-03:00  30.212
2022-05-21 09:00:00-03:00  30.212
2022-05-22 09:00:00-03:00  30.574
2022-05-23 09:00:00-03:00  30.939
2022-05-24 09:00:00-03:00  30.939
...                           ...
2022-08-21 09:00:00-03:00    None
2022-08-22 09:00:00-03:00    None
2022-08-23 09:00:00-03:00    None
2022-08-24 09:00:00-03:00    None
2022-08-25 09:00:00-03:00    None

[98 rows x 1 columns]

In [13]:
procedure.outputToNodes()

In [18]:
plan.topology.nodes[3].series_sim[0].data

                            valor  tag
timestart
2022-05-20 09:00:00-03:00  30.212    1
2022-05-21 09:00:00-03:00  30.212    1
2022-05-22 09:00:00-03:00  30.574    1
2022-05-23 09:00:00-03:00  30.939    1
2022-05-24 09:00:00-03:00  30.939    1
...                           ...  ...
2022-08-21 09:00:00-03:00    None    1
2022-08-22 09:00:00-03:00    None    1
2022-08-23 09:00:00-03:00    None    1
2022-08-24 09:00:00-03:00    None    1
2022-08-25 09:00:00-03:00    None    1

[98 rows x 2 columns]

### 7. Plan auto-run (run instead of 4 to 6) 

Runs plan.topology.batchProcessInput() and [procedure.run() for procedure in plan.procedure]

In [5]:
plan.execute()